section {
	min-height: 100vh;
	height: 100%;
	&.page-content {
		padding: 3rem 3rem 0rem;
		width: min(100%, 1200px);
		margin-inline: auto;
		.entry-content {
			display: flex;
			align-items: center;
			display: flex;
			min-height: calc(90vh - 2.76042vw);
			height: auto;
			justify-content: center;
			gap: 3rem;
			flex-direction: column;
			@media (min-width: 992px) {
				flex-direction: row;
			}
			.col {
				width: 100%;
				@media (min-width: 992px) {
					&.col-33 {
						width: 33%;
					}
					&.col-40 {
						width: 40%;
					}
					&.col-60 {
						width: 60%;
					}
					&.col-66 {
						width: 66%;
					}
				}
			}
			h2,
			h3,
			h4,
			h5,
			h6 {
				text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
				font-size: 5rem;
				color: #fff;
				margin: 0;
				font-family: 'Sassy Frass', cursive;
				line-height: 3.5rem;
				margin-bottom: 20px;
			}
			p {
				font-size: 1.4rem;
				a {
					color: #fff;
				}
			}
		}
	}
}

.fancybox__track {
	.fancybox__slide {
		&.has-iframe {
			.fancybox__content {
				display: flex;
				align-items: center;
				padding: 0 !important;
				height: auto !important;
				background: #000;
				aspect-ratio: 16/9;
				width: 90%;
				max-width: 1440px;
				.fancybox__iframe {
					aspect-ratio: 16/9;
					height: 100%;
					max-height: 100%;
					width: auto;
				}
			}
		}
	}
}
